// VARIABLES
// This file contains variables for reusable values such as colors, font-sizes, spacing, etc.

// COLOR VARIABLES (not the final colors)
$color-primary: #717d96;
$color-primary-light: #edf0f7;
$color-primary-dark: #1a202c;

// FONT VARIABLES
$font-primary: "Roboto", "Open Sans", sans-serif;
$font-heading: "Montserrat", sans-serif;
