.container {
  display: grid;
  grid-template-rows: repeat(3, 1fr); //Adjust the number of rows as needed
  grid-template-columns: repeat(8, 1fr); //A good starting point for the number of columns

  /* 
  Uncomment the following block when you want to make it easier to visualize the grid during development.
  Adjust padding and font-size as needed for better visualization.
  
  & > * {
    padding: 40px;
    font-size: 3rem;
  }
  */
}
